name: only-allow-master-to-merge-into-prod
on:
  pull_request:
    types:
      - closed
    branches:
      - production
jobs:
  merge_check:
    runs-on: ubuntu-latest
    steps:
    - name: Check if the pull request is mergeable to production
      run: |
        if [[ "$GITHUB_HEAD_REF" == 'master' ]]; then exit 0; else exit 1; fi;
